{% extends 'swag/map_base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
	Swagmap Details
{% endblock %}

{% block heading %}
	Select a challenge!
{% endblock %}

{% block subheading %}
	{{ map.title }}
{% endblock %}

{% block scripts %}
        <script src="{% static 'swag/ext/p5.js' %}"></script>
        <script src="{% static 'swag/ext/swagmap/bin/swagmap.bundle.js' %}"></script>
	<script>
		// This is the minimum required for displaying a swagmap.
		// This will only display it, it will not connect to
		// xAPI to show items as completed. In order to do that,
		// use the setXApiStore and setActorEmail functions.
		//
		// See here for more info:
		// https://github.com/tunapanda/swagmap/blob/master/test/view/apptest.html 
		var app=new SwagMap();		
		//swagviewer/KTouch/ktouch.json
				//app.setMapUrl("{% static url %}");
				app.setMapUrl("{{ url }}");
		app.run();
	</script>
{% endblock %}
