{% extends 'swag/map_base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
	{{ map.title }}
{% endblock %}

{% block scripts %}
        <script src="{% static 'swag/ext/p5.js' %}"></script>
        <script src="{% static 'swag/ext/swagmap/bin/swagmap.bundle.js' %}"></script>
	<script>
		// This is the minimum required for displaying a swagmap.
		// This will only display it, it will not connect to
		// xAPI to show items as completed. In order to do that,
		// use the setXApiStore and setActorEmail functions.
		//
		// See here for more info:
		// https://github.com/tunapanda/swagmap/blob/master/test/view/apptest.html 
		var app=new SwagMap();		
		//swagviewer/KTouch/ktouch.json
		//app.setMapUrl("{% static url %}");
		app.setMapUrl("{{ url }}");
		{% if xapi_data %}
			app.setXApiStore({
				"endpoint": "{{ xapi_data.endpoint }}",
				"username": "{{ xapi_data.username }}",
				"password": "{{ xapi_data.password }}"
			});
		{% endif %}
		app.run();
	</script>
{% endblock %}

{% block body %}{% endblock %}
