{% extends 'swag/map_base.html' %}

{% block title %} 
	Swagmaps List 
{% endblock %}

{% block heading %}
	Choose Your Path!
{% endblock %}

{% block subheading %}
	Eventually this will be a dynamically generated list of available maps. For now, here's a static list of some maps you can try...
{% endblock %}

{% block main %}
	<ol class="maplist">
		{% for map in maps %}
			<li><a href="{{ map.map_id }}">{{ map.data.title }}</a></li>
		{% empty %}
			<li><strong>No maps found!</strong></li>
		{% endfor %}
	</ol>
{% endblock %}
